@charset "UTF-8";

/* SASS */
@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #525252;
	background: #EEEEEE;
	font-family: 'Roboto', Arial, Helvetica, Sans-Serif;
	font-size: 13.5px;

	&:before {
		content: '';
		height: 100%;
		float: left;
		width: 0;
		margin-top: -32767px;
	}
}

::-moz-selection {
	color: #FFFFFF;
	background: #000000;
}

::selection {
	color: #FFFFFF;
	background: #000000;
}

a {
	color: #000000;
	text-decoration: none;

	&:hover {
		color: #000000;
		text-decoration: underline;
	}
}

#container {
	min-height: 100%;
	margin-bottom: -82px;
	position: relative;
}

#navigation {
	background: $color_1;
	width: 10%;
	height: 100%;
	position: absolute;

	#clear-navigation {
		height: 151px;
	}

	.button {
		color: #FFFFFF;
		width: 96%;
		padding: 20px 0;
		text-align: center;
		text-transform: $transform_1;
		border-left: 4px solid $color_1;

		&:hover {
			@include navigation_active_button;
		}

		&:active {
			@include navigation_active_button;
		}
	}


	.button-active {
		@extend .button;
		@include navigation_active_button;
	}
}

#content {
	width: 90%;
	margin-top: 53px;
	float: right;

	.line {
		background: url('../images/others/1.png') no-repeat center center;
		width: 50%;
		height: 51px;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		&:after {
			content: '';
			background: #DEDEDE;
			width: 200%;
			height: 2px;
			margin-top: -2px;
			top: 50%;
			left: -50%;
			display: block;
			position: absolute;
			z-index: -1;
		}
	}

	h1 {
		text-align: center;
		font-weight: lighter;
		text-transform: $transform_2;
	}

	#center {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		#container {
			width: 90%;
			margin-left: auto;
			margin-right: auto;

			#left {
				width: 85%;
				float: left;

				.select {
					background: rgba(255, 255, 255, 0);
					width: 12%;
					padding: 12px 10px;
					border: 1px solid #DEDEDE;
					float: left;
				}

				.input {
					@extend .select;
					width: 62%;
					padding-top: 13px;
					padding-bottom: 13px;
				}
			}

			#right {
				width: 15%;
				float: right;

				#button-search {
					color: #FFFFFF;
					background: #C7B084;
					padding: 14px 54px;
					display: inline-block;
					float: right;
					font-size: 13.5px;
					text-decoration: none;
					text-shadow: none;
					border-radius: 0;
					-moz-border-radius: 0;
					-webkit-border-radius: 0;
					border: none;
					cursor: pointer;
				}
			}
		}

		#filter {
			background: #F1F1F1;
			width: 20%;
			padding: 20px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
			text-align: center;
			display: table;
			box-shadow: 0 0 5px 0 rgba(0 ,0, 0, 0.40);
			-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.40);
			-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.40);

			.button {
				color: #5B5B5B;
				background: #FFFFFF;
				padding: 11px 30px;
				display: inline-block;
				margin-right: 25px;
				border: 1px solid #CCCCCC;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;

				&:hover {
					@include filter_active_button;
				}

				&:active {
					@include filter_active_button;
				}
			}

			.button-active {
				@extend .button;
				@include filter_active_button;
			}
		}

		.align-elements {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			display: table;
			text-align: center;

			.block {
				background: #FFFFFF;
				width: 500px;
				height: 250px;
				margin-left: 30px;
				display: inline-block;

				.left {
					width: 250px;
					height: 250px;
					float: left;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.right {
					width: 250px;
					height: 250px;
					float: right;

					h2 {
						font-weight: normal;
					}

					p {
						padding: 15px;
						text-align: left;
					}
				}
			}
		}
	}
}

.clear {
	height: 30px;
	clear: both;
}

#clear-footer {
	height: 120px;
	clear: both;
}

#footer {
	color: #FFFFFF;
	background: #252627;
	width: 100%;
	height: 81px;
	line-height: 81px;
	position: relative;
	text-align: center;
	border-bottom: 1px solid $color_1;
}